<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Today's Project</h6>
                    </div>
                    <h2>{{todayEntries}}</h2>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Active Projects</h6>
                    </div>
                    <h2>{{dataLength}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Completed Projects</h6>
                    </div>
                    <h2>{{completeLength}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>All Projects</h6>
                    </div>
                    <h2>{{allProjects}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="nameCard">
            <div class="ProjectCard">
                <h4>Ongoing Projects</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card ongoing">
            <p class="d-line-flex dateButton">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#today" aria-controls="collapseExample">
                    Today Tasks
                </button>
                <span class="badge">{{todayLength}}</span>
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#pending" aria-controls="collapseExample">
                    Pending Tasks
                </button>
                <span class="badge">{{pendingLength}}</span>
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#urgent" aria-controls="collapseExample">
                    Urgent Tasks
                </button>
                <span class="badge">{{urgentLength}}</span>
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#changes" aria-controls="collapseExample">
                    Changes
                </button>
                <span class="badge">{{changesLength}}</span>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#todayAssigned" aria-controls="collapseExample">
                    Today Assigned Task
                </button>
                <span class="badge">{{todayAssignedLength}}</span>
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#pendingAssigned" aria-controls="collapseExample">
                    Pending Assigned Task
                </button>
                <span class="badge">{{pendingAssignedLength}}</span>
            </p>
            <hr>
            <div class="collapse show" id="today">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead> 
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remainig Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of today; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.graphicPassDate | date: 'dd/MM/yy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.graphicDeliveryDate | date: 'short'}}</td>
                                <td>
                                    <select [(ngModel)]="user.graphicStatus" (change)="updateStatus(user, user.graphicStatus)">
                                        <option value="Not Completed">Not Completed</option>
                                        <option value="Complete">Completed</option>
                                    </select>
                                </td>
                                <td [ngClass]="user.shouldBlink ? 'blinking' : 'color'">{{ user.remainingTime }}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="pending">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Watermark</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remainig Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of pending; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.graphicPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.graphicDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.watermark}}</td>
                                <td>
                                    <select [(ngModel)]="user.graphicStatus" (change)="updateStatus(user, user.graphicStatus)">
                                        <option value="Not Complete">Not Complete</option>
                                        <option value="Complete">Completed</option>
                                    </select> 
                                </td>
                                <td [ngClass]="{
                                    'blinking': user.shouldBlink, 
                                    'color': !user.shouldBlink && !user.timeUp,
                                    'time-up': user.timeUp,
                                    'within-24-hours': user.within24Hours
                                  }">{{ user.remainingTime }}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="urgent">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remainig Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of urgent; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.graphicPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.graphicDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>
                                    <select [(ngModel)]="user.graphicStatus" (change)="updateStatus(user, user.graphicStatus)">
                                        <option value="Not Complete">Not Complete</option>
                                        <option value="Complete">Completed</option>
                                    </select>
                                </td>
                                <td [ngClass]="user.shouldBlink ? 'blinking' : 'color'">{{ user.remainingTime }}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="changes">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remainig Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of changes; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.graphicPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.graphicDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>
                                    <select [(ngModel)]="user.graphicStatus" (change)="updateStatus(user, user.graphicStatus)">
                                        <option value="Not Completed">Not Completed</option>
                                        <option value="Complete">Completed</option>
                                    </select>
                                </td>
                                <td [ngClass]="user.shouldBlink ? 'blinking' : 'color'">{{ user.remainingTime }}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="todayAssigned">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Task No.</th>
                                <th scope="col">Task Name</th>
                                <th scope="col">Task Description</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remainig Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of todayAssigned; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.SrNo}}</td>
                                <td>{{user.taskName}}</td>
                                <td>{{user.taskDescription}}</td>
                                <td>{{user.assignedDate | date: 'dd/MM/yy'}}</td>
                                <td>{{user.taskDeliveryDate | date: 'dd/MM/yy'}}</td>
                                <td>
                                    <select [(ngModel)]="user.graphicStatus" (change)="updateStatus(user, user.graphicStatus)">
                                        <option value="Not Completed">Not Completed</option>
                                        <option value="Complete">Completed</option>
                                    </select>
                                </td>
                                <td [ngClass]="user.taskShouldBlink ? 'blinking' : 'color'">{{ user.taskRemainingTime }}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="pendingAssigned">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Task No.</th>
                                <th scope="col">Task Name</th>
                                <th scope="col">Task Description</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remainig Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of pendingAssigned; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.SrNo}}</td>
                                <td>{{user.taskName}}</td>
                                <td>{{user.taskDescription}}</td>
                                <td>{{user.assignedDate | date: 'dd/MM/yy'}}</td>
                                <td>{{user.taskDeliveryDate | date: 'dd/MM/yy'}}</td>
                                <td>
                                    <select [(ngModel)]="user.graphicStatus" (change)="updateStatus(user, user.graphicStatus)">
                                        <option value="Not Completed">Not Completed</option>
                                        <option value="Complete">Completed</option>
                                    </select>
                                </td>
                                <td [ngClass]="user.taskShouldBlink ? 'blinking' : 'color'">{{ user.taskRemainingTime }}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ongoing">
            <div class="card-heading">
                <h4>Complete Projects</h4>
            </div>
            <hr>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Client Code</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Assigned Date</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Delivery Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of completed; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.custCode}}</td>
                            <td>{{user.custName}}</td>
                            <td>{{user.custBussiness}}</td>
                            <td>{{user.graphicPassDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{user.priority}}</td>
                            <td>{{user.graphicDeliveryDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{user.graphicStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
