* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nameCard{
    flex-direction: row;
    justify-content: flex-end;
}
.ProjectCard{
    color: #fff;
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    padding: 5px 10px 0px 10px;
    width: fit-content;
}
.dateButton button{
    margin-left: 30px;
}
.card{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
hr{
    color: #fff;
}
.card1{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 5px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-bg{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 2px 10px 0px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
}
.card-txt{
    text-align: center;
    color: #fff;
}
.form-container{
    justify-content: center;
    align-items: center;
}
.card .card-heading{
    color: #fff;
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
}
.table-scroll{
    overflow: scroll;
    height: 200px;  
    text-align: center;
}
.blinking {
    background-color: rgba(255, 85, 0, 0.827);
    animation: blink-animation 2s linear infinite;
  }
  .color{
    background-color: rgba(0, 255, 4, 0.773);
  }
  .time-up {
    background-color: rgba(255, 0, 0, 0.8); /* Solid red background */
    animation: none; /* Stop blinking when time is up */
  }
  .within-24-hours {
    background-color: rgba(0, 255, 0, 0.8); /* Bright green background */
    animation: none; /* No blinking */
  }
  
  @keyframes blink-animation {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
th{
    background-color: rgba(255,255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
td{
    background-color: rgba(255,255, 255, 0);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
.badge{
    position: absolute;
    margin-top: -5px;
    margin-left: -10px;
    border-radius: 50%;
    background-color: #9b33da;
    color: white; 
    font-size: 14px;
}
.btn[aria-expanded="true"] {
    background-color: green;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}