tr.highlighted {
    opacity: 0.8; 
  }
.nameCard{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nameCard2{
    display: flex;
    justify-content: space-between;
}
.nameCard form{
    margin-left: auto;
}
.nameCard form input{
    margin-right: 20px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.nameCard form input:focus{
    border-color: rgb(255, 0, 0);
}
.ProjectCard{
    font-style: italic;
    font-family: 'poppins';
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
    width: fit-content;
    background-color: white;
}
 
.table{
    box-shadow: 10px 10px 10px;
    font-size: 14px
}
.title-heading{ 
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
    font-family: 'poppins';
    width: fit-content;
    background-color: white;
}
.downloadFile{
    text-align: right;
    margin-bottom: 15px;
}
.update-button{
    text-align: right;
    margin-bottom: 15px;
}

.searchData{
    display: flex;
    justify-content: flex-end;
}
.searchData .details{
    margin-left: 15px; 
    
}
.searchData .details input{
    margin-left: 10px;
    padding: 5px;
}
.searchData .details label{
    font-weight: 500;
}
.allCustomers{
    margin-bottom: 25px;
}

.rangeData{
    margin-top: 20px;
}
.downloadButton{
    text-align: right;
    margin-bottom: 15px;
}
.btn[aria-expanded="true"] {
    background-color: green;
}