<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="bi bi-list"></i>
    </div>
    <a class="navbar-brand px-4"> 
        <img src="assets/Images/logo.png" alt="AdMix Media">
    </a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <a class="nav-link">
                Welcome, {{tok?.signupUsername}}
            </a>                
        </ul>
    </div>
    
    <div class="profile-logo">
        <button class="btn btn-outline-light">
           <a routerLink="/login">LogOut</a>
        </button>
    </div> 

    
</nav>