nav {
    height: 100%;
}
.navbar-brand img{
    width: 130px;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}
.side-nav-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30%;
}

.profile-logo button{
    text-decoration: none;
    color:white;
}
.profile-logo button:hover{
    background-color: black;
}
.dropdown .notif{
    margin-right: 100px;
}
.dropdown i{
    font-size: 22px;
    color: white;
}
.dropdown .badge{
    position: absolute;
    top: -5px;
    left: 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.dropdown .notif .dropdown-menu .unRead{
    background-color: #a28ac8;
}
.dropdown .dropdown-menu{
    max-width: 80%;
    overflow: auto;
    height: auto;
}
@media only screen and (max-width: 500px){
    .navbar-brand img{
        width: 80px;
    }
    .side-nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav-link{
        font-size: 12px;
    }
}