*{
    font-family: "Mona Sans","Helvetica Neue", Arial, Helvetica, sans-serif;
}
.nameCard{
    font-weight: 700;
    margin-bottom: 25px;
}
.searchData{
    display: flex;
}
.title-heading{
    color: #fff;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    padding: 5px 10px 0px 10px;
    width: fit-content;
}
.searchData2 input{
    background: rgba(255,255,255,0.2);
    color: white;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 65%;
    border-bottom: 2px solid #D1D1D4;
    transition: all 0.3s ease;
}
.btn-link{
    color: yellow;
    text-decoration: none;
}
.arrow-down::after{
    content: ' ▼';
}
.arrow-up::after {
  content: ' ▲';
}
.sub-entry-table th, .sub-entry-table td{
    font-size: 0.875rem;
}
th{
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
td{
    background-color: rgba(255,255,255,0);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.table-scroll{
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(255,255,255,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 25px;
    margin-top: 25px;
    overflow: scroll;
    height: 550px;
}
.table-scroll-customer{
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(255,255,255,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 25px;
    margin-top: 25px;
    overflow: scroll;
}
.sticky-header th{
    position: sticky;
    top: 0;
    background: rgba(37,37,37,1);
}