.nameCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nameCard2{
    display: flex;
    justify-content: space-between;
}
.searchData{
    display: flex;
    justify-content: flex-end;
}
.details{
    text-align: right;
}
.rangeData{
    margin-top: 20px;
}
.downloadButton{
    text-align: right;
    margin-bottom: 15px;
}

.title-heading{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
    font-family: 'poppins';
    width: fit-content;
    font-style: italic;
}
.nameCard form{
    margin-left: auto;
}
.nameCard form input{
    margin-right: 20px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.nameCard form input:focus{
    border-color: rgb(255, 0, 0);
}
.ProjectCard{
    font-style: italic;
    font-family: 'poppins';
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
    width: fit-content;
}

.table{
    box-shadow: 10px 10px 10px;
}
.downloadFile{
    text-align: right;
    margin-bottom: 15px;
}
.buttons{
    display: flex;
}
.buttons button{
    margin-left: 15px;
}
.searchData .details{
    margin-right: 15px;
    
}
.searchData .details input{
    margin-left: 10px;
    padding: 5px;
}
.searchData .details label{
    font-weight: 500;
}