.card{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container{
    display: flex;
}
.form-container .details label{
    font-weight: 600;
    margin-bottom: 10px;
}
.form-container .details input{
    margin-bottom: 10px;
}
.card-heading{
    font-family: 'poppins';
    font-style: italic;
}
.d-flex{
    display: flex;
}
.card-txt{
    width: 100%;
} 
.card-txt1 h5{
    margin-top: 15px;
}
.card-txt1 h4{
    margin-top: 10px;
}
.card:hover{
    box-shadow: 10px 10px 10px;
}
.completed:hover{
    background-color: rgb(171, 52, 52);
    color: white;
}
.card-img img{
    float: right;
    margin-right: 50px;
    width: 80%;
}
.progress{
    width: 90%;
    margin-bottom: 40px;
}
.accordion{
    width: 95%;
}
.accordion-button{
    font-size: 22px;
    font-weight: 700;
    color: blueviolet;
}
.accordion-body p{
    font-size: 40px;
}

.table-scroll{
    overflow: scroll;
    height: 250px;
}


.card-form input{
    padding: 5px;
}