<div *ngIf="isImpersonating" class="alert alert-info text-center">
    🔍 You are impersonating a salesperson. <button class="btn btn-sm btn-outline-dark" (click)="backToAdmin()">Return to Admin</button>
  </div>
<div class="row">
    <div class="col-lg-12 d-flex justify-content-end">
        <button class="btn btn-success getButton" (click)="teamWork()" *ngIf="tok?.signupRole?.includes('Team Leader')">Team Work</button>
        <button class="btn btn-success getButton" (click)="bundles()" *ngIf="tok?.signupRole?.includes('Bundle Handler')">Bundles</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Today's Sale </h6>
                        </div>
                        <!-- <h2>{{todayEntries}} </h2> -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#todayEntryModal">
                            {{todayEntries}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Monthly Sale </h6>
                        </div>
                        <!-- <h2> {{totalEntries}} </h2> -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#totalEntryModal">
                            {{totalEntries}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card2">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Active Projects </h6>
                        </div>
                        <!-- <h2> {{dataLength}} </h2> -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#ActiveProjectsModal">
                            {{dataLength}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card3">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Monthly Closing Amt</h6>
                        </div>
                        <h2 *ngIf="rangeData; else elseBlock">
                            {{ rangeData.rangeTotalAmount }}
                        </h2>
                        <ng-template #elseBlock>
                            <!-- <h2>{{totalAmount}}</h2> -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#closingAmountModal">
                                {{totalAmount}} 
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card3">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Monthly Received Amt</h6>
                        </div>
                        <h2 *ngIf="rangeData; else elseBlock2">
                            {{ rangeData.rangeTotalRecv }}
                        </h2>
                        <ng-template #elseBlock2>
                            <!-- <h2>{{totalRecv}}</h2> --> 
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#restAmountModal">
                                {{totalRecv}} 
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card4">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Monthly Due Amt</h6>
                        </div>
                        <h2 *ngIf="rangeData; else elseBlock3">
                            {{ rangeData.rangeTotalDue }}
                        </h2>
                        <ng-template #elseBlock3>
                            <!-- <h2>{{totalDue}}</h2> -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#dueAmountModal">
                                {{totalDue}}
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card5">
            <form [formGroup]="dateRangeForm" (ngSubmit)="onDate()">
                <div class="form-container">
                    <div class="card-txt">
                        <div class="card-bg2">
                            <h6>Search Data</h6>
                        </div>
                    </div>
                    <div class="details">
                        <label for="startDate"> Start Date</label>
                        <input type="date" formControlName="startDate" id="startDate">
                    </div>
                    <div class="details">
                        <label for="endDate"> End Date</label>
                        <input type="date" formControlName="endDate" id="endDate">
                    </div>
                </div>
                <div class="rangeButton">
                    <button type="submit" class="btn btn-sm btn-primary"> Submit</button>
                    <div class="rangeButton1" *ngIf="rangeData">
                        <div class="downloadButton">
                            <button class="btn btn-success" (click)="downloadRangeFile()"> Download File </button>
                        </div>
                        <div class="downloadButton">
                            <button class="btn btn-success" (click)="resetData()"> Reset Data </button>
                        </div>
                        <div class="downloadButton">
                            <button class="btn btn-success" (click)="downloadDueFile()"> Download Due Data File
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card4">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg">
                            <h6> Total Active Projects </h6>
                        </div>
                        <!-- <h2>{{allProjects}} </h2> -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#allActiveModal">
                            {{allProjects}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card4">
            <div class="card-body">
                <div class="form-container2">
                    <div class="card-txt">
                        <div class="card-bg2">
                            <h6> Monthly Top Performer </h6>
                        </div>
                        <div class="performer-inline">
                            <div *ngFor="let user of topPerformer; let i=index">
                                <div *ngIf="i===0" class="center-performer">
                                    <img src="assets/Images/1st.png" alt="1st Position" class="performer">
                                    <span>{{user._id}}</span>
                                </div>
                                <div *ngIf="i===1" class="center-performer">
                                    <img src="assets/Images/2nd.png" alt="2nd Position" class="performer">
                                    <span>{{user._id}}</span>
                                </div>
                                <div *ngIf="i===2" class="center-performer">
                                    <img src="assets/Images/3rd.png" alt="3rd Position" class="performer">
                                    <span>{{user._id}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card ongoing">
            <div class="card-heading">
                <h4>Ongoing Projects</h4>
            </div>
            <hr>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Client Code</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Client Business</th>
                            <th scope="col">Project Category</th>
                            <th scope="col">Closing Date</th>
                            <th scope="col">Closing Payment</th>
                            <th scope="col">Amount Received</th>
                            <th scope="col">Remaining Amount</th>
                            <th scope="col">Project Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data">
                            <td>{{user.custCode}}</td>
                            <td>{{user.custName}}</td>
                            <td>{{user.custBussiness}}</td>
                            <td>{{user.closingCateg}}</td>
                            <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{user.closingPrice}}</td>
                            <td>{{user.AdvPay}}</td>
                            <td>{{user.remainingAmount}}</td>
                            <td>{{user.projectStatus}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                    Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-heading">
                <h4>Completed Projects</h4>
            </div>
            <hr>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Client Code</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Client Business</th>
                            <th scope="col">Project Category</th>
                            <th scope="col">Closing Date</th>
                            <th scope="col">Closing Payment</th>
                            <th scope="col">Amount Received</th>
                            <th scope="col">Rest Payment</th>
                            <th scope="col">Remaining Amount</th>
                            <th scope="col">Project Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let users of completeData">
                            <td>{{users.custCode}}</td>
                            <td>{{users.custName}}</td>
                            <td>{{users.custBussiness}}</td>
                            <td>{{users.closingCateg}}</td>
                            <td>{{users.closingDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{users.closingPrice}}</td>
                            <td>{{users.AdvPay}}</td>
                            <td>{{users.restAmount}}</td>
                            <td>{{users.remainingAmount}}</td>
                            <td>{{users.projectStatus}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(users._id)">
                                    Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Today Entries Modal-->

<div class="modal fade" id="todayEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Today Sale</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of todayEntry">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- All Active Modal-->

<div class="modal fade" id="allActiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">All Active Projects</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of allActiveProjects">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Active Projects Modal -->
<div class="modal fade" id="ActiveProjectsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Active Projects</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of data">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Total Entry Modal -->
<div class="modal fade" id="totalEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Active Projects</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of totalEntry">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Due Amount Modal -->
<div class="modal fade" id="dueAmountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Due Amount Projects</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of dueData">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"(click)="downloadDueAmountFile()">Download</button>
            </div>
        </div>
    </div>
</div>

<!--Received Amount Modal -->
<div class="modal fade" id="restAmountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Received Amount Projects</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of totalEntry">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"(click)="downloadRestAmountFile()">Download</button>
            </div>
        </div>
    </div>
</div>

<!--Closing Amount Modal -->
<div class="modal fade" id="closingAmountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Closing Amount Projects</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client Code</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Project Category</th>
                                <th scope="col">Closing Date</th>
                                <th scope="col">Closing Payment</th>
                                <th scope="col">Amount Received</th>
                                <th scope="col">Remaining Amount</th>
                                <th scope="col">Project Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of totalEntry">
                                <td>{{user.custCode}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.closingCateg}}</td>
                                <td>{{user.closingDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.closingPrice}}</td>
                                <td>{{user.AdvPay}}</td>
                                <td>{{user.remainingAmount}}</td>
                                <td>{{user.projectStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">
                                        Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>