* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.card .card-heading{
    color: #fff;
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
}
.table-scroll{
    overflow: scroll;
    height: 250px;  
}
th{
    background-color: rgba(255,255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
td{
    background-color: rgba(255,255, 255, 0);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.card1, .card2, .card3, .card4, .card5 {
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 5px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr{
    color: #fff;
}
.form-container2{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.card-bg{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 2px 10px 0px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
}
.card-bg2{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 2px 5px 0px 5px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
}
.card-txt{
    text-align: center;
    color: #fff;
}
.card:hover, .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover{
    box-shadow: 10px 10px 10px; 
}
.completed:hover{
    background-color: rgba(171, 52, 52, 0.4);
    color: white;
}


.form-container{
    display: flex; 
    margin-top: 3px;
}
.form-container .card-bg{
    margin-left: 15px;
}
.form-container .details{
    margin-left: 10px;
    color: #fff;
}
.form-container .details label{
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 10px;
}
.rangeButton{
    display: flex;
    margin-left: 15px;
}
.rangeButton1{
    display: flex;
}
.downloadButton {
    padding: 0px 15px 0px 15px;
}
.form-container .details input{
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.form-container .details input:focus{
    border-color: blueviolet;
}
.card-txt2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-txt2 h5{
    margin-left: 45px;
}
@media (max-width: 500px){
    .form-container{
        display: block;
        margin-top: 3px;
    }
    .form-container .details{
        color: #fff;
        margin-top: 15px;
    }
    .form-container .card-bg{
        margin-left: 15px;
    }
    .form-container .details label{
        font-weight: 600;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .rangeButton{
        display: block;
        margin-left: 15px;
    }
    .rangeButton1{
        display: block;
        margin-top: 10px;
    }
    .downloadButton {
        margin-top: 10px;
        padding: 0px 15px 0px 15px;
    }
}