
<div class="container-fluid">
	<div class="login-bg">
		<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
			<div class="login__field">
				<i class="login__icon fas fa-user"></i>
				<input type="text" class="login__input" placeholder="Username" formControlName="loginUsername">
			</div>
			<div class="login__field">
				<i class="login__icon fas fa-lock"></i>
				<input type="password" class="login__input" placeholder="Password" formControlName="loginPswd">
			</div>
			<button class="button login__submit">
				<span class="button__text">Log In Now</span>
				<i class="button__icon fas fa-chevron-right"></i>
			</button>				
		</form>
	</div>
</div>
 
<router-outlet></router-outlet>