<div class="new-customer">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h2> Enter Project Details </h2>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="updateForm.status !=='INVALID' && onUpdate()">
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Client Code: </span>
                            <input type="text" class="form-control" formControlName="custCode"
                                [ngClass]="{error:getControls('custCode')?.errors && getControls('custCode')?.touched}"
                                placeholder="Enter Client Code">
                            <div *ngIf="getControls('custCode')?.errors && getControls('custCode')?.touched">
                                <label class="text-danger" *ngIf="getControls('custCode')?.errors?.['required']"> Client Code is Required </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box2"> 
                        <div class="form-group2">
                            <span class="details"> Duration: </span>
                            <div class="input-flex">
                                <input type="number" class="form-control" formControlName="videoDurationMinutes" placeholder="Enter" (change)="DurationChange()">
                                <span class="details"> Minutes </span>

                                <input type="number" class="form-control" formControlName="videoDurationSeconds" placeholder="Enter" (change)="DurationChange()">
                                <span class="details"> Seconds </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Delivery Date: </span>
                            <input type="datetime-local" class="form-control" formControlName="videoDeliveryDate" placeholder="Enter Delivery Date">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Video Type: </span>
                            <select class="form-control" formControlName="videoType">
                                <option value="null">Select Graphics Type</option>
                                <option value="Normal Graphics">Normal Graphics</option>
                                <option value="Motion Graphics">Motion Graphics</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box1">
                        <div class="form-group">
                            <span class="details"> Select Number of Videos </span>
                            <input class="form-check-input" type="radio" formControlName="numberOfVideos" value="One"> One
                            <input class="form-check-input" type="radio" formControlName="numberOfVideos" value="Two"> Two
                            <input class="form-check-input" type="radio" formControlName="numberOfVideos" value="Three"> Three
                            <input class="form-check-input" type="radio" formControlName="numberOfVideos" value="more than three"> More than three
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Project Payment: </span>
                            <input type="text" class="form-control readonly" formControlName="editorPayment" placeholder="Enter Payment" readonly>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Project Status: </span>
                            <select class="form-select" formControlName="editorStatus" aria-label="Default select example"
                            [ngClass]="{error:getControls('editorStatus')?.errors && getControls('editorStatus')?.touched}">
                            <option value="null">Select Project Status</option> 
                            <option value="Not Complete">Completed</option>
                        </select>
                    <div *ngIf="getControls('editorStatus')?.errors && getControls('editorStatus')?.touched">
                        <label class="text-danger" *ngIf="getControls('editorStatus')?.errors?.['required']"> Project Status is Required </label>
                    </div>
                        </div>
                    </div>
                    <div class="input-box1">
                        <div class="form-group">
                            <span class="details">Any Other Changes?</span>
                            <input class="form-check-input" type="radio" formControlName="editorOtherChanges" value="yes" (change)="onChange($event)"> Yes
                            <input class="form-check-input" type="radio" formControlName="editorOtherChanges" value="no" (change)="onChange($event)"> No
                        </div>
                    </div>
                    <div class="input-box" *ngIf="editorOtherChanges">
                        <div class="form-group">
                            <span class="details"> Changes Payment: </span>
                            <input type="text" class="form-control" formControlName="editorChangesPayment" placeholder="Enter Changes Payment">
                        </div>
                    </div>
                    <!-- <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Total Payment: </span>
                            <input type="number" class="form-control" formControlName="totalEditorPayment" placeholder="Enter Changes Payment" [value]="updateForm.get('totalEditorPayment')!.value | number">
                        </div>
                    </div> -->
                    <div class="input-box" *ngIf=" updateForm.get('editorStatus')?.value === 'Completed'">
                        <div class="form-group">
                            <span class="details"> Youtube Video Link: </span>
                            <textarea type="text" class="form-control" formControlName="youtubeLink" [ngClass]="{error:getControls('youtubeLink')?.errors && getControls('youtubeLink')?.touched}" placeholder="Enter youtubeLink"></textarea> 
                            <div *ngIf="getControls('youtubeLink')?.errors && getControls('youtubeLink')?.touched">
                                <label class="text-danger" *ngIf="getControls('youtubeLink')?.errors?.['required']"> Youtube Link is required</label>
                            </div> 
                        </div>
                    </div>
                </div>
                <input type="submit" [disabled]="updateForm.status === 'INVALID'" class="btn btn-success">
            </form>
        </div>
    </div>
</div>