<div class="row">
    <div class="col-lg-12">
        <nav class="navbar navbar-expand navbar-dark bg-dark px-2">
            <a class="navbar-brand px-4" routerLink="/admin-dashboard"> 
                <img src="assets/Images/logo.png" alt="AdMix Media">
            </a>
        
            <div class="navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <a class="nav-link">
                        Welcome to Admix Media
                    </a>                
                </ul>
            </div>
            
            <div class="profile-logo">
                <button class="btn btn-outline-light" (click)="login()">Login</button>
            </div> 
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-heading">
                <h3>Data Deletion Instructions</h3>

<p>Admix Media respects your privacy.</p>
<p>If you would like to request deletion of your personal data that has been collected through our application, please follow the instructions below:</p>

<p>How to Request Data Deletion</p>

<p>You can request deletion of your data at any time by contacting us at:</p>

<p>📧 Email: support&#64;admixmedia.in</p>

<p>Please include the following details in your email:</p>

<p>Your full name</p>

<p>Your email address or phone number associated with your account</p>

<p>A brief message stating that you want your data deleted</p>

<p>What Happens Next?</p>

<p>Once we receive your request, we will verify your identity.</p>

<p>After verification, all your personal data stored in our systems will be deleted permanently within 7 working days.</p>

<p>You will receive a confirmation email once your data has been deleted.</p>

<p>Contact</p>

<p>If you have any questions about how we handle your data, you can contact us at:</p>
<p>📧 support&#64;admixmedia.in</p>
            </div>
        </div>
    </div>    
</div>
