<div class="incentive">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h2>Incentive Data Form</h2>
            </div>
            <form [formGroup]="incentiveForm" (ngSubmit)="incentiveForm.status !== 'INVALID' && submitIncentive()">
                <div [ngClass]="className" role="alert">
                    {{message}}
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Employee</span>
                            <select class="form-select" formControlName="employeeName">
                                <option value=""> Select Employee</option>
                                <option *ngFor="let item of emp" value="{{item.signupUsername}}">{{item.signupUsername}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="input-box">
                        <div class="form-group">
                            <span class="details">Category</span>
                            <select class="form-select" formControlName="category">
                                <option value="">Select Category</option>
                                <option *ngFor="let item of closing_names" value="{{item.closingCateg}}">
                                    {{item.closingCateg}}</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <div class="user-details">
                    <div formArrayName="incentives" class="input-box">
                        <div *ngFor="let incentive of incentives.controls; let i= index" [formGroupName]="i"
                            class="form-group">

                            <span class="details">Upto Amount {{ i === 0 ? '0' : incentives.at(i - 1).value.amount }}
                                to {{ incentive.value.amount }}</span>
                            <input type="number" formControlName="amount" class="form-control" min="0">

                            <span class="details"> Incentive of Amount {{i+1}}</span>
                            <input type="number" formControlName="increment" class="form-control" min="0" value="0"
                                step=".01">

                            <button type="button" (click)="removeIncentive(i)" *ngIf="incentives.length > 1"
                                class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                    <button type="button" (click)="addIncentive()" class="btn btn-secondary">Add More</button>
                    <input type="submit" [disabled]="incentiveForm.status === 'INVALID'" class="btn btn-success">
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="company">
                <button class="btn btn-sm btn-primary getButton" routerLink="/points-table">Points Table</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="searchCustomer">
            <div class="nameCard">
                <div class="title-heading">
                    <h5>Employee Incentive</h5>
                </div>
            </div>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Category</th>
                            <ng-container *ngFor="let incentive of data[0]?.incentives; let idx = index">
                                <th scope="col">Upto Range {{ idx + 1 }}</th>
                                <th scope="col">Incentive of Range {{ idx + 1 }}</th>
                            </ng-container>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.employeeName}}</td>
                            <!-- <td>{{user.category}}</td> -->
                             <td>All Category</td>
                            <ng-container *ngFor="let incentive of user.incentives">
                                <td>{{ incentive.amount }}</td>
                                <td>{{ incentive.increment }}%</td>
                            </ng-container>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>