<div class="incentive">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h2>Incentive Data Form</h2>
            </div>
            <form [formGroup]="incentiveForm" (ngSubmit)="incentiveForm.status !== 'INVALID' && addIncentive()">
                <div [ngClass]="className" role="alert">
                    {{message}}
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Employee</span>
                            <select class="form-select" formControlName="employeeName">
                                <option value=""> Select Employee</option>
                                <option *ngFor="let item of emp" value="{{item.signupUsername}}">{{item.signupUsername}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Category</span>
                            <select class="form-select" formControlName="category">
                                <option value="">Select Category</option>
                                <option *ngFor="let item of closing_names" value="{{item.closingCateg}}">{{item.closingCateg}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Upto Amount 1</span>
                            <select class="form-select" formControlName="amountOne">
                                <option value=0>Select Amount</option>
                                <option *ngFor="let option of options" [value]="option">{{option | number}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Incentive of Amount 1</span>
                            <input type="number" formControlName="amountOneIncrement" class="form-control" min="0" value="0" step=".01">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Upto Amount 2</span>
                            <select class="form-select" formControlName="amountTwo">
                                <option value=0>Select Amount</option>
                                <option *ngFor="let option of options" [value]="option">{{option | number}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Incentive of Amount 2</span>
                            <input type="number" formControlName="amountTwoIncrement" class="form-control" min="0" value="0" step=".01">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Upto Amount 3</span>
                            <select class="form-select" formControlName="amountThree">
                                <option value=0>Select Amount</option>
                                <option *ngFor="let option of options" [value]="option">{{option | number}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Incentive of Amount 3</span>
                            <input type="number" formControlName="amountThreeIncrement" class="form-control" min="0" value="0" step=".01">
                        </div>
                    </div>
                </div>
                <input type="submit" [disabled]="incentiveForm.status === 'INVALID'" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="searchCustomer">
            <div class="nameCard">
                <div class="title-heading">
                    <h5>Employee Incentive</h5>
                </div>
            </div>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Upto Range 1</th>
                            <th scope="col">Incentive of Range 1</th>
                            <th scope="col">Upto Range 2</th>
                            <th scope="col">Incentive of Range 2</th>
                            <th scope="col">Upto Range 3</th>
                            <th scope="col">Incentive of Range 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.employeeName}}</td>
                            <td>{{user.category}}</td>
                            <td>{{user.amountOne}}</td>
                            <td>{{user.amountOneIncrement}}</td>
                            <td>{{user.amountTwo}}</td>
                            <td>{{user.amountTwoIncrement}}</td>
                            <td>{{user.amountThree}}</td>
                            <td>{{user.amountThreeIncrement}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>