<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SalesSideNavToggle()">
        <i class="bi bi-list"></i>
    </div>
    <a class="navbar-brand px-4" routerLink="/salesHome/salesDashboard">
        <img src="assets/Images/logo.png" alt="AdMix Media">
    </a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <a class="nav-link">
                Welcome, {{tok?.signupUsername}}
            </a>                
        </ul> 
    </div> 
    <div class="dropdown">
        <div class="notif">
            <i class="bi bi-bell-fill" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <span class="badge">{{unreadCount}}</span>
            <ul class="dropdown-menu">
                <li *ngFor="let notif of unreadNotif"><a class="dropdown-item unRead" (click)="markAsRead(notif._id)">{{notif.msgBody}}<sub>{{notif.Date | date:'dd-MM-yy'}}</sub></a></li>
                <li *ngFor="let notif of readNotif"><a class="dropdown-item">{{notif.msgBody}}<sub>{{notif.Date | date:'dd-MM-yy'}}</sub></a></li>
            </ul>
        </div>        
    </div>    
    <div class="profile-logo">
        <button class="btn btn-outline-light" (click)="logout()">Logout
           <!-- <a routerLink="/login">LogOut</a> --> 

        </button>
    </div>
</nav>