<div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="leads">
            <div class="nameCard">
                <div class="title-heading">
                    <h5> Sales Leads Work </h5>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-12">

    </div>
    <div class="col-lg-1 col-md-12 col-sm-12 col-12">
        <button class="btn btn-sm btn-success getButton"> Refresh </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="leads">
            <div class="nameCard">
                <div class="title-heading">
                    <h5> Search Data </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">

    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="searchData2">
            <form [formGroup]="searchForm" (ngSubmit)="searchCustomer()">
                <input type="text" formControlName="projectStatus" placeholder="Enter Project Status">
                <button class="btn btn-primary" type="submit"> Search</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div *ngIf="customers.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Campaign Name</th>
                        <th scope="col">Ad Name</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Email</th>
                        <th scope="col">Bussiness</th>
                        <th scope="col">State</th>
                        <th scope="col">Project Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{customer.campaign_Name}}</td>
                        <td>{{customer.ad_Name}}</td>
                        <td>{{customer.custName}}</td>
                        <td>{{customer.custNumb}}</td>
                        <td>{{customer.closingDate}}</td>
                        <td>{{customer.custEmail}}</td>
                        <td>{{customer.custBussiness}}</td>
                        <td>{{customer.state}}</td>
                        <td>{{customer.projectStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#today"
                 aria-controls="collapseExample">
                {{todayDate}}
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#yesterday"
                aria-expanded="false" aria-controls="collapseExample">
                {{yesterdayDate}}
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#oneYesterday"
                aria-expanded="false" aria-controls="collapseExample">
                {{oneYesterdayDate}}
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#twoYesterday"
                aria-expanded="false" aria-controls="collapseExample">
                {{twoYesterdayDate}}
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#threeYesterday"
                aria-expanded="false" aria-controls="collapseExample">
                {{threeYesterdayDate}}
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#fourYesterday"
                aria-expanded="false" aria-controls="collapseExample">
                {{fourYesterdayDate}}
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#fiveYesterday"
                aria-expanded="false" aria-controls="collapseExample">
                {{fiveYesterdayDate}}
            </button>
        </p>
        <div class="collapse show" id="today">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of data; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="collapse" id="yesterday">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of dataYesterday; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="collapse" id="oneYesterday">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of dataOneYesterday; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="collapse" id="twoYesterday">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of dataTwoYesterday; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="collapse" id="threeYesterday">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of dataThreeYesterday; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="collapse" id="fourYesterday">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of dataFourYesterday; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="collapse" id="fiveYesterday">
            <div class="table-scroll table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> No. </th>
                            <th scope="col"> Campaign Name </th>
                            <th scope="col"> Closing Date </th>
                            <th scope="col"> Customer Name </th>
                            <th scope="col"> Number </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> State </th>
                            <th scope="col"> Bussiness </th>
                            <th scope="col"> Project Status </th>
                            <th scope="col"> Remark </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of dataFiveYesterday; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{list.campaign_Name}}</td>
                            <td>{{list.closingDate}}</td>
                            <td>{{list.custName}}</td>
                            <td>{{list.custNumb}}</td>
                            <td>{{list.custEmail}}</td>
                            <td>{{list.state}}</td>
                            <td>{{list.custBussiness}}</td>
                            <td>{{list.projectStatus}}</td>
                            <td>{{list.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>