<div class="invoice-container">
    <div class="row">
        <div class="col-lg-8">
            <div class="top-left-text">
                <h4>Admix Media Pvt. Ltd.</h4>
                <p>PDN Wali Gali, Basant View, Hathras</p>
                <p>Uttar Pradesh - 204101</p>
                <p>Phone No.: +91-9084607774</p>
                <p>Email Id: admixmediaindia&#64;gmail.com</p>
                <p>GSTIN: 09AAZCA3162F1ZC</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-left">
                <img src="assets/Images/logo.png" alt="AdMix Media">
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="est-text">
                <h4>INVOICE</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="mid-txt">
                <div class="name-txt">
                    <h6>Invoice To: </h6>
                    <h5>Rathik Pratap Singh</h5>
                    <p><strong>Contact No.:</strong> +91-9997052240</p>
                </div>
            
                <div class="bill-number">
                    <h6>Invoice Details</h6>
                    <p><strong>Invoice No.</strong> 001</p>
                    <p><strong>Date:</strong> 08-06-2024</p>
                </div>
            </div>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price/Unit</th>
                            <th scope="col">GST</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Advertisement Video</td>
                            <td>1</td>
                            <td>&#8377;1000</td>
                            <td>&#8377;180 (18%)</td>
                            <td>&#8377; 1180</td>
                        </tr>
                        <tr class="table-group-divider">
                            
                            <td><b>Total</b></td>
                            <td></td>
                            <td><b>1</b></td>
                            <td></td>
                            <td><b>&#8377;180</b></td>
                            <td><b>&#8377;1180</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="lower-mid-text">
            <div class="est-amt">
                <p><strong>Invoice Amount in Words</strong></p>
                <p>{{wordsAmt | uppercase}} ONLY</p>
                <p><strong>Terms and Condition</strong></p>
                <p>For Advertisement Video 50% advance payment needed.</p>
            </div>
            <div class="sub-total">
                <div class="sub-total-title">
                    <p><strong>Sub Total: </strong>₹1000 </p>
                    <p><strong>SGST &#64;9%: </strong>₹90 </p>
                    <p><strong>CGST &#64;9%: </strong>₹90 </p>
                    <p class="bottom-total"><strong>Total: </strong>₹ 1000 </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="qr-code">
                <img src="assets/Images/GSTQR.jpeg" alt="AdMix Media QR Code">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details">
                <h6>Pay To:</h6>
                <p><strong>Bank Name:</strong> HDFC BANK, HATHRAS, UTTAR PRADESH</p>
                <P><strong>Bank Account No:</strong> 50200088351070</P>
                <p><strong>Bank IFSC Code:</strong> HDFC0006723</p>
                <p><strong>Account holder's Name:</strong> AdmixMedia</p>
                <p><strong>Account Type:</strong> Current Account</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="signature">
                <p> For: Admix Media Pvt. Ltd.</p>
                <img src="assets/Images/signature.png" alt="Authorized Signature">
                <p><strong>Authorized Signatory</strong></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="footer">
                <h6>Declaration</h6>
                <ul>
                    <li>We declare that this invoice shows the actual price of the goods described and that all perticulars are true and correct.</li>
                    <li>This is a Computer Generated Invoice.</li>
                </ul>
            </div>
        </div>
    </div>
</div>