<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Today's Project</h6>
                    </div>
                    <h2>{{todayEntries}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Active Projects</h6>
                    </div>
                    <h2>{{dataLength}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Completed Projects</h6>
                    </div>
                    <h2>{{completeLength}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>All Projects</h6>
                    </div>
                    <h2>{{allProjects}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Notifications</h6>
                    </div>
                    <h2>{{unreadCount}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12 move-to-new-row2">
        <!-- <button class="btn btn-sm btn-primary getButton" (click)="otherProjects()">Other Projects</button> -->
        <button class="btn btn-warning getButton" (click)="bundles()" *ngIf="tok?.signupRole?.includes('Bundle Handler')">Bundles</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="nameCard">
            <div class="ProjectCard">
                <h4>Ongoing Projects</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card ongoing">
            <p class="d-line-flex dateButton">
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#urgent" aria-controls="collapseExample">
                    Urgent
                </button>
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#high" aria-controls="collapseExample">
                    High
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#medium" aria-controls="collapseExample">
                    Medium
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#all" aria-controls="collapseExample">
                    All
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#changes" aria-controls="collapseExample">
                    Changes
                </button>
            </p>
            <hr>
            <div class="collapse" id="urgent">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Video Type</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of urgent; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.videoDurationMinutes}}:{{user.videoDurationSeconds}}</td>
                                <td>{{user.videoType}}</td>
                                <td>{{user.videoDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.editorStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </div>

                </div>
            </div>
            <div class="collapse" id="high">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Video Type</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of high; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.videoDurationMinutes}}:{{user.videoDurationSeconds}}</td>
                                <td>{{user.videoType}}</td>
                                <td>{{user.videoDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.editorStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)"> Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="medium">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Video Type</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of medium; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.videoDurationMinutes}}:{{user.videoDurationSeconds}}</td>
                                <td>{{user.videoType}}</td>
                                <td>{{user.videoDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.editorStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)"> Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse show" id="all">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Video Type</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of data; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.videoDurationMinutes}}:{{user.videoDurationSeconds}}</td>
                                <td>{{user.videoType}}</td>
                                <td>{{user.videoDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.editorStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)"> Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="collapse" id="changes">
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Video Type</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of changes; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custCode}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.videoDurationMinutes}}:{{user.videoDurationSeconds}}</td>
                                <td>{{user.videoType}}</td>
                                <td>{{user.videoDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{user.priority}}</td>
                                <td>{{user.editorStatus}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(user._id)">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </div>

                </div>
            </div>
        </div>
        <div class="card ongoing">
            <div class="card-heading">
                <h4>Complete Projects</h4>
            </div>
            <hr>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                                <th scope="col">Client Code</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Video Type</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of completed; let i = index">
                            <td>{{i+1}}</td>
                                <td>{{customer.custCode}}</td>
                                <td>{{customer.custBussiness}}</td>
                                <td>{{customer.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{customer.videoDurationMinutes}}:{{customer.videoDurationSeconds}}</td>
                                <td>{{customer.videoType}}</td>
                                <td>{{customer.videoDeliveryDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{customer.editorStatus}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" (click)="openUpdatePanel(customer._id)">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>