<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="nameCard">
            <div class="title-heading">
                <h6>Select T.M and date Range</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <form [formGroup]="dateRangeForm" (ngSubmit)="onDate()">
            <div class="searchData">
                <div class="details">
                    <select class="form-select" formControlName="B2bEditor" aria-label="Default select example">
                        <option value="null">Select Team Member</option>
                        <option *ngFor="let emp of employee" value="{{emp.signupUsername}}">{{emp.signupUsername}}</option>
                    </select>
                </div>
                <div class="details">
                    <label for="startDate"> Start Date</label>
                    <input type="date" formControlName="startDate" id="startDate">
                </div>
                <div class="details">
                    <label for="endDate"> End Date</label>
                    <input type="date" formControlName="endDate" id="endDate">
                </div>
                <div class="details">
                    <button type="submit" class="btn btn-sm btn-primary"> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="new-customer">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h2>Payroll Form</h2>
            </div>
            <form [formGroup]="payrollForm" (ngSubmit)= "onSubmit()" class="search-Form">
                <div [ngClass]="className" role="alert">
                    {{message}}
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> T.M Name:</span>
                            <input type="text" class="form-control" formControlName="payrollTm" placeholder="Select Team Member">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> T.M Role:</span>
                            <input type="text" class="form-control" formControlName="payrollRole" placeholder="Team Member Role">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> No. Of Projects:</span>
                            <input type="text" class="form-control" formControlName="totalProjects" placeholder="Total Projects">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> No. Of Complete Projects:</span>
                            <input type="text" class="form-control" formControlName="completeProjects" placeholder="Complete Projects">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> No. Of Incomplete Projects:</span>
                            <input type="text" class="form-control" formControlName="inCompleteProjects" placeholder="Incomplete Projects">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Total Editor Paybal Payment:</span>
                            <input type="text" class="form-control" formControlName="EditorPaybalPayment" placeholder="Editor Payment">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Total Editor Payment Date:</span>
                            <input type="datetime-local" class="form-control" formControlName="editorPaymentDate" placeholder="Editor Payment Date">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Editor Payment Status:</span>
                            <select class="form-select" formControlName="EditorPaymentStatus" aria-label="Default select example">
                                <option value="null">Select Payment Status</option>
                                <option value="Not Transfered">Not Transfered</option>
                                <option value="Transfered">Transfered</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> CNR No. Of Editor Payment:</span>
                            <input type="text" class="form-control" formControlName="EditorCNR" placeholder="Payment CNR Number">
                        </div>
                    </div>
                    <div class="input-box hidden-input">
                        <div class="form-group">
                            <span class="details">Company Name:</span>
                            <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name">
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>