<div class="new-registration">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h2> Update Employee Details </h2>
            </div>
            <form [formGroup]="empUpdateForm" (ngSubmit)="empUpdateForm.status !== 'INVALID' && onUpdate()">
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Full Name: </span>
                            <input type="text" class="from-control" formControlName="signupName"
                                [ngClass]="{error:getControls('signupName')?.errors && getControls('signupName')?.touched}"
                                placeholder="Enter Your Name">
                            <div *ngIf="getControls('signupName')?.errors && getControls('signupName')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupName')?.errors?.['required']"> Name is Required </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> User Name: </span>
                            <input type="text" class="from-control" formControlName="signupUsername"
                                [ngClass]="{error:getControls('signupUsername')?.errors && getControls('signupUsername')?.touched}"
                                placeholder="Enter Your Username">
                            <div
                                *ngIf="getControls('signupUsername')?.errors && getControls('signupUsername')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupUsername')?.errors?.['required']"> Username is Required </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Email: </span>
                            <input type="email" class="from-control" formControlName="signupEmail"
                                [ngClass]="{error:getControls('signupEmail')?.errors && getControls('signupEmail')?.touched}"
                                placeholder=" Enter your Email">
                            <div *ngIf="getControls('signupEmail')?.errors && getControls('signupEmail')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupEmail')?.errors?.['required']">
                                    Email is Required </label>
                                <label class="text-danger" *ngIf="getControls('signupEmail')?.errors?.['pattern']"> Please enter a valid email </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Mobile Number: </span>
                            <input type="text" class="from-control" formControlName="signupNumber"
                                [ngClass]="{error:getControls('signupNumber')?.errors && getControls('signupNumber')?.touched}"
                                placeholder="Mobile Number">
                            <div *ngIf="getControls('signupNumber')?.errors && getControls('signupNumber')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupNumber')?.errors?.['required']">
                                    Number is Required </label>
                                <label class="text-danger"
                                    *ngIf="getControls('signupNumber')?.errors?.['maxLength'] || getControls('signupNumber')?.errors?.['mminLength'] || getControls('signupNumber')?.errors?.['pattern']">
                                    Please enter a valid mobile number
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Gender: </span>
                            <select class="form-select" formControlName="signupGender"
                                aria-label="Default select example"
                                [ngClass]="{error:getControls('signupGender')?.errors && getControls('signupGender')?.touched}">
                                <option value="Select Gender"> Choose the Gender </option>
                                <option value="Male"> Male </option>
                                <option value="Female"> Female </option>
                            </select>
                            <div *ngIf="getControls('signupGender')?.errors && getControls('signupGender')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupGender')?.errors?.['required']">
                                    Gender is Required </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Role: </span>
                            <select class="form-select" formControlName="signupRole" aria-label="Default select example"
                                [ngClass]="{error:getControls('signupRole')?.errors && getControls('signupRole')?.touched}">
                                <option value="Select Role"> Select Employee Role </option>
                                <option value="Admin"> Admin </option>
                                <option value="Manager"> Manager </option>
                                <option value="Sales Team"> Sales Team </option>
                                <option value="Graphic Designer"> Graphic Designer </option>
                                <option value="Web Developer"> Web Developer </option>
                            </select>
                            <div *ngIf="getControls('signupRole')?.errors && getControls('signupRole')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupRole')?.errors?.['required']"> Role is Required </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Password: </span>
                            <input type="text" class="from-control" formControlName="signupPassword"
                                [ngClass]="{error:getControls('signupPassword')?.errors && getControls('signupPassword')?.touched}"
                                placeholder="Create Password">
                            <div
                                *ngIf="getControls('signupPassword')?.errors && getControls('signupPassword')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupPassword')?.errors?.['required']">
                                    Password is Required
                                </label>
                                <label class="text-danger" *ngIf="getControls('signupPassword')?.errors?.['pattern']">
                                    Please enter a Valid Password.
                                    <ul>
                                        <li> At least 1 uppercase letter</li>
                                        <li> At least 1 lowercase letter</li>
                                        <li> At least 1 number and 1 Special Character</li>
                                    </ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Address: </span>
                            <textarea class="from-control" formControlName="signupAddress"
                                [ngClass]="{error:getControls('signupAddress')?.errors && getControls('signupAddress')?.touched}"
                                placeholder="Enter your Address">  </textarea>
                            <div *ngIf="getControls('signupAddress')?.errors && getControls('signupAddress')?.touched">
                                <label class="text-danger" *ngIf="getControls('signupAddress')?.errors?.['required']"> Address is Required </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" [disabled]="empUpdateForm.status === 'INVALID'" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
    </div>
</div>