<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Today's Bundles</h6>
                    </div>
                    <h2>{{todayEntries}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Active Bundles</h6>
                    </div>
                    <h2>{{dataLength}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Created Bundles</h6>
                    </div>
                    <h2>{{completeLength}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>All Bundles</h6>
                    </div>
                    <h2>{{allProjects}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="card1">
            <div class="form-container">
                <div class="card-txt">
                    <div class="card-bg">
                        <h6>Notifications</h6>
                    </div>
                    <h2>{{unreadCount}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-12 move-to-new-row2">
        <button class="btn btn-warning getButton" (click)="projects()">Team Work</button>
        <button class="btn btn-warning getButton" (click)="salesWork()">Sales</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="nameCard">
            <div class="ProjectCard">
                <h4>Ongoing Bundles</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card ongoing">
            <hr>
                <div class="table-scroll">
                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Business</th>
                                <th scope="col">Assigned Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of data; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.custName}}</td>
                                <td>{{user.custBussiness}}</td>
                                <td>{{user.editorPassDate | date:'dd-MM-yyyy'}}</td>
                                <td>
                                    <select [(ngModel)]="user.bundleStatus" (change)="updateEditors(user)">
                                        <option value="Not Created">Not Created</option>
                                        <option value="Created">Created</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
        </div>
        <div class="card ongoing">
            <div class="card-heading">
                <h4>Complete Bundles</h4>
            </div>
            <hr>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Client Business</th>
                            <th scope="col">Assigned Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of completed; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{customer.custName}}</td>
                            <td>{{customer.custBussiness}}</td>
                            <td>{{customer.editorPassDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{customer.bundleStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>