
<div class="calendar-container">
    <div class="calendar-header">
        <button class="nav-button" (click)="prevMonth()">&#8592; Prev</button>
        <h2>{{ monthNames[month - 1] }} {{ year }}</h2>
        <button class="nav-button" (click)="nextMonth()">Next &#8594;</button>
    </div>

    <div class="current-time">
        🕒 Current Time: <span>{{ currentTime }}</span>
    </div>

    <div class="calendar-grid">
        <div class="week-day" *ngFor="let dayName of weekDays">{{ dayName }}</div>
    
        <div *ngFor="let day of calendarDays" class="calendar-day"
            [ngClass]="{
                'present': day?.status === 'Present',
                'absent': day?.status === 'Absent',
                'half-day': day?.status === 'Half Day',
                'office-closed': day?.status === 'Office Closed',
                'work-from-home': day?.status === 'Work From Home',
                'select': day?.status === 'Select',
                'today': day?.isToday
            }">
            <div class="date-label">{{ day?.date }}</div>
            <span>{{ day?.status }}</span>
            <span *ngIf="day?.reason" class="reason">({{day?.reason}})</span>
        </div>
    </div>
    
</div>
