* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card-details{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-details strong{
    margin-right: 15px;
}
.card-details button{
    margin-right: 100px; 
}
.card{
    background: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 25px;
    margin-top: 15px;
    color: #fff;
}
.card .image img{
    width: 100%;
    height: auto;
    display: block;

}
.card .circle{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.Employees{
    background: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    color: #fff;
} 