* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nameCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nameCard .company{
    margin-left: auto;
}
.title-heading{ 
    background: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    padding: 5px 10px 0px 10px;
    width: fit-content;
    color: #fff;
}
.nameCard2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.table-scroll{
    margin-top: 20px;
    overflow: scroll;
    background: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 25px;
    padding-bottom: 5px;
}
.table{
    text-align: center;
}
th{
    background-color: rgba(255,255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
td{
    background-color: rgba(255,255, 255, 0);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@media only screen and (max-width: 500px){
    .title-heading{
        padding: 5px;
    }
}