<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="searchCustomer">
            <div class="nameCard">
                <div class="title-heading">
                    <h5> Update Payment </h5>
                </div>
                <div class="company">
                    <button class="btn btn-sm btn-primary" routerLink="/add-company">Add New Company</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="searchCustomer">
            <div class="nameCard2">
                <div class="title-heading">
                    <h5> Script Writers </h5>
                </div>
            </div>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">1 Min Charge</th>
                            <th scope="col">1 Min 30 Seconds Charge</th>
                            <th scope="col">2 Min Charge</th>
                            <th scope="col">2 Min 30 Seconds Charge</th>
                            <th scope="col">3 Min Charge</th>
                            <th scope="col">Two Video Charge</th>
                            <th scope="col">Three Video Charge</th>
                            <th scope="col">Update Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filterEmployeesByRole('Script Writer'); let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.signupName}}</td>
                            <td>Rs. {{user.payment60Sec}}</td>
                            <td>Rs. {{user.payment90Sec}}</td>
                            <td>Rs. {{user.payment120Sec}}</td>
                            <td>Rs. {{user.payment150Sec}}</td>
                            <td>Rs. {{user.payment180Sec}}</td>
                            <td>Rs. {{user.paymentTwoVideo}}</td>
                            <td>Rs. {{user.paymentThreeVideo}}</td>
                            <td>
                                <div class="buttons">
                                    <button class="btn btn-sm btn-primary" routerLink="/update-payment/{{user._id}}"> Update</button>   
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="searchCustomer">
            <div class="nameCard2">
                <div class="title-heading">
                    <h5> Video Editors </h5>
                </div>
            </div>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">1 Min Charge</th>
                            <th scope="col">1 Min 30 Seconds Charge</th>
                            <th scope="col">2 Min Charge</th>
                            <th scope="col">2 Min 30 Seconds Charge</th>
                            <th scope="col">3 Min Charge</th>
                            <th scope="col">Two Video Charge</th>
                            <th scope="col">Three Video Charge</th>
                            <th scope="col">Update Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filterEmployeesByRole('Editor'); let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.signupName}}</td>
                            <td>Rs. {{user.payment60Sec}}</td>
                            <td>Rs. {{user.payment90Sec}}</td>
                            <td>Rs. {{user.payment120Sec}}</td>
                            <td>Rs. {{user.payment150Sec}}</td>
                            <td>Rs. {{user.payment180Sec}}</td>
                            <td>Rs. {{user.paymentTwoVideo}}</td>
                            <td>Rs. {{user.paymentThreeVideo}}</td>
                            <td>
                                <div class="buttons">
                                    <button class="btn btn-sm btn-primary" routerLink="/update-payment/{{user._id}}"> Update</button>   
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="searchCustomer">
            <div class="nameCard2">
                <div class="title-heading">
                    <h5> Voice Over Artist </h5>
                </div>
            </div>
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">1 Min Charge</th>
                            <th scope="col">1 Min 30 Seconds Charge</th>
                            <th scope="col">2 Min Charge</th>
                            <th scope="col">2 Min 30 Seconds Charge</th>
                            <th scope="col">3 Min Charge</th>
                            <th scope="col">Two Video Charge</th>
                            <th scope="col">Three Video Charge</th>
                            <th scope="col">Update Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filterEmployeesByRole('VO Artist'); let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.signupName}}</td>
                            <td>Rs. {{user.payment60Sec}}</td>
                            <td>Rs. {{user.payment90Sec}}</td>
                            <td>Rs. {{user.payment120Sec}}</td>
                            <td>Rs. {{user.payment150Sec}}</td>
                            <td>Rs. {{user.payment180Sec}}</td>
                            <td>Rs. {{user.paymentTwoVideo}}</td>
                            <td>Rs. {{user.paymentThreeVideo}}</td>
                            <td>
                                <div class="buttons">
                                    <button class="btn btn-sm btn-primary" routerLink="/update-payment/{{user._id}}"> Update</button>   
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>