<div class="new-registration">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h4> New Category Form </h4>
            </div> 
            <form [formGroup]="categoryForm" (ngSubmit)="categ()">
                <div [ngClass]="className" role="alert">
                    {{message}}
                </div> 
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Category Name: </span>
                            <input type="text" class="from-control" formControlName="categoryName" placeholder="Enter Category Name">
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
    </div>
</div>

<div class="new-registration">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div> 
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h4> New Sales Team Form </h4>
            </div>
            <form [formGroup]="salesTeamForm" (ngSubmit)="salesTeam()">
                <div [ngClass]="className1" role="alert">
                    {{message1}}
                </div> 
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Sales Team Name: </span>
                            <input type="text" class="from-control" formControlName="salesTeamName" placeholder="Enter Sales Team">
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
    </div>
</div>