.card{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-body{
    flex: 1 1 auto;
}
.d-flex{
    display: flex!important;
}
.card-txt{
    width: 100%;
}
.card-heading h4{
    font-family: 'poppins';
}
.card:hover{
    box-shadow: 10px 10px 10px; 
}
.completed:hover{
    background-color: rgba(171, 52, 52, 0.4);
    color: white;
}
.card-img img{
    float: right;
    margin-right: 50px;
    width: 60%;
}
.progress{
    width: 90%;
    margin-bottom: 40px;
}
.accordion{
    width: 95%;
}
.accordion-button{
    font-size: 22px;
    font-weight: 700;
    color: blueviolet;
}
.accordion-body p{
    font-size: 40px;
}

.table-scroll{
    overflow: scroll;
    height: 250px;
}

.form-container{
    display: flex;
}
.form-container .details label{
    font-weight: 600;
    margin-bottom: 10px;
}
.form-container .details input{
    margin-bottom: 10px;
    height: 35px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.form-container .details input:focus{
    border-color: blueviolet;
}
.card-txt2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-txt2 h5{
    margin-left: 45px;
}