* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
}
.modal-content{
    background-color: rgba(0,0, 0, 0.3);
    color: white;
}
.modal-content th{
    border: none;
    color: white;
}
.modal-content td{
    border: none;
    color: white;
}
.modal-header .btn-close{
    background-color: aliceblue;
}
.fundText span{
    color: #fff;
    font-size: large;
}
.fundText button{
    background: none;
    border: none;
    font-size: large;
}
.card-txt button{
    background: none;
    border: none;
    font-size: 24px;
}
.card{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.card .card-heading{
    color: #fff;
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
}
.categ form{
    display: flex;
    align-items: center; /* Align items vertically in the center */
}
.categ-right {
    width: 40%; /* Make the select box take the remaining space */
    
    background: rgba(255,255, 255, 0);
    color: #fff;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    transition: all 0.3s ease;
}
.categ form select option{
    color: black;
}
.table-scroll{
    overflow: scroll;
    height: 550px;
}
.sticky-header th{
    position: sticky;
    top: 0;
    background: rgba(37,37, 37, 1);
}
th{
    background-color: rgba(255,255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
td{
    background-color: rgba(255,255, 255, 0);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.card1, .card2, .card3, .card4, .card5 {
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 5px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr{
    color: #fff;
}
.form-container2{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.card-bg{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 2px 10px 0px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
}
.card-bg2{
    background-color: rgba(255,255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 2px 5px 0px 5px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.card-txt{
    text-align: center;
    color: #fff;
}
.card-heading h4{
    font-family: 'poppins';
}
.card:hover, .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover{
    box-shadow: 10px 10px 10px; 
}
.completed:hover{
    background-color: rgba(171, 52, 52, 0.4);
    color: white;
}


.form-container{
    display: flex; 
    margin-top: 3px;
}
.form-container .card-bg{
    margin-left: 15px;
}
.form-container .details{
    margin-left: 10px;
    color: #fff;
}
.categ .details{
    color: white;
}
.categ .details input{
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.categ .details label{
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 10px;
}
.form-container .details label{
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 10px;
}
.rangeButton{
    display: flex;
    margin-left: 15px;
}
.rangeButton1{
    display: flex;
}
.downloadButton {
    padding: 0px 15px 0px 15px;
}
.form-container .details input{
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.form-container .details input:focus{
    border-color: blueviolet;
}
.card-txt2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-txt2 h5{
    margin-left: 45px;
}
.month-wise-performance{
    margin-left: 50px;
}
.chart-container {
    width: 300px;  /* Set the desired width */
    height: 300px; /* Set the desired height */
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  }
  .chart-container2{
    display: block;
  }

.categ button{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 70px;
}
.switch {
    display: flex;
    align-items: center;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 24px;
    cursor: pointer;
    transition: background 0.4s;
    padding: 3px;
}

.switch input {
    display: none;
}

.slider {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

/* When Checkbox is Checked */
.switch input:checked + .slider {
    transform: translateX(26px);
    background: white;
}

.switch input:checked ~ .switch {
    background-color: #4CAF50;
}
.highlighted {
    background-color: #21838a !important;
}

.star-btn {
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

.star-btn.active {
    color: gold;
}
tr select{
    background-color: rgba(255,255, 255, 0.13);
    color: #fff;
}
tr select option{
    color: black;
}
tr textarea{
    background-color: rgba(255,255, 255, 0.13);
    color: #fff;
    margin-top: 8px;
    resize: vertical;
}
.getButton{
    /* margin-right: 20px; */
    margin-left: 20px;
}
.btn[aria-expanded="true"] {
    background-color: green;
}
@media (max-width: 500px){
    .form-container{
        display: block;
        margin-top: 3px;
    }
    .form-container .details{
        color: #fff;
        margin-top: 15px;
    }
    .form-container .card-bg{
        margin-left: 15px;
    }
    .form-container .details label{
        font-weight: 600;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .rangeButton{
        display: block;
        margin-left: 15px;
    }
    .rangeButton1{
        display: block;
        margin-top: 10px;
    }
    .downloadButton {
        margin-top: 10px;
        padding: 0px 15px 0px 15px;
    }
}