.card{
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card1{
    background-image: url("/assets/Images/Green.png");
    /* background-color: #7da0fa; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card2{
    background-image: url("/assets/Images/Purple.png");
    /* background-color: #4747a1; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card3{
    background-image: url("/assets/Images/Blue.png");
    /* background-color: #7978e9; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card4{
    background-image: url("/assets/Images/Red.png");
    /* background-color: #E9ECF2; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card5{
    background-image: url("/assets/Images/Purple2.png");
    /* background-color: #7da0fa; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-bg{
    background-color: #fff;
    padding: 2px 50px 0px 50px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}
.card-txt{
    text-align: center;
    color: #fff;
}
.card-heading h4{
    font-family: 'poppins';
}
.card:hover{
    box-shadow: 10px 10px 10px; 
}
.card1:hover{
    box-shadow: 10px 10px 10px; 
}
.card2:hover{
    box-shadow: 10px 10px 10px; 
}
.card3:hover{
    box-shadow: 10px 10px 10px; 
}
.card4:hover{
    box-shadow: 10px 10px 10px; 
}
.card5:hover{
    box-shadow: 10px 10px 10px; 
}
.completed:hover{
    background-color: rgba(171, 52, 52, 0.4);
    color: white;
}
.card-img img{
    float: right;
    margin-right: 50px;
    width: 60%;
}
.progress{
    width: 90%;
    margin-bottom: 40px;
}
.accordion{
    width: 95%;
}
.accordion-button{
    font-size: 22px;
    font-weight: 700;
    color: blueviolet;
}
.accordion-body p{
    font-size: 40px;
}

.table-scroll{
    overflow: scroll;
    height: 250px;
}

.form-container{
    display: flex;
    
}
.form-container .details{
    margin-left: 30px;
    color: #fff;
}
.form-container .details label{
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 30px;
}
.form-container button{
    margin-left: 25px;
    padding: 0px 10px 0px 10px;
}
.rangeButton{
    display: flex;
}
.downloadButton {
    padding: 10px 30px 0px 30px;
}
.form-container .details input{
    margin-bottom: 10px;
    height: 35px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.form-container .details input:focus{
    border-color: blueviolet;
}
.card-txt2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-txt2 h5{
    margin-left: 45px;
}