* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Attendance {
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    color: #fff;
}

.table-scroll {
    position: relative;
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: auto; 
    margin-top: 20px;
}

.table-scroll table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.present-day {
    background-color: #e0ffe0;
    color: #2c662d;
}

.absent-day {
    background-color: #ffe0e0;
    color: #662c2c;
}

.half-day {
    background-color: rgb(222, 239, 147);
}
.office-closed{
    background-color: aqua;
}

.sticky-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 2px solid #dee2e6;
}
thead tr {
    position: sticky;
    top: 0;
    z-index: 3;
}

tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: #f9f9f9;
    z-index: 2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody {
    height: 300px;
    overflow-y: auto;
}

select {
    border: none;
    background: none;
}

.logged-time {
    font-size: 12px;
    color: #666;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    color: #fff;
}

.month-navigation h2 {
    margin: 0;
}