<div class="customer-heading">
    <h1> Enter Customer Details</h1>
</div>
<div class="customer-details">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div [ngClass]="className" role="alert">
                {{message}}
            </div>
            <form [formGroup]="customerForm" (ngSubmit)="customerForm.status !== 'INVALID' && addCust()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="custCode" [ngClass]="{error:getControls('custCode')?.errors && getControls('custCode')?.touched}" placeholder="Enter Client Code">
                    <div *ngIf="getControls('custCode')?.errors && getControls('custCode')?.touched">
                        <label class="text-danger" *ngIf="getControls('custCode')?.errors?.['required']"> Client Code is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="custName" [ngClass]="{error:getControls('custName')?.errors && getControls('custName')?.touched}" placeholder="Enter Customer Name">
                    <div *ngIf="getControls('custName')?.errors && getControls('custName')?.touched">
                        <label class="text-danger" *ngIf="getControls('custName')?.errors?.['required']"> Name is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="custNumb" [ngClass]="{error:getControls('custNumb')?.errors && getControls('custNumb')?.touched}" placeholder="Enter Customer Number">
                    <div *ngIf="getControls('custNumb')?.errors && getControls('custNumb')?.touched">
                        <label class="text-danger" *ngIf="getControls('custNumb')?.errors?.['required']"> Number is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="custBussiness" [ngClass]="{error:getControls('custBussiness')?.errors && getControls('custBussiness')?.touched}" placeholder="Enter Customer Business">
                    <div *ngIf="getControls('custBussiness')?.errors && getControls('custBussiness')?.touched">
                        <label class="text-danger" *ngIf="getControls('custBussiness')?.errors?.['required']"> Business Name is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="closingDate" [ngClass]="{error:getControls('closingDate')?.errors && getControls('closingDate')?.touched}" placeholder="Enter Closing Date">
                    <div *ngIf="getControls('closingDate')?.errors && getControls('closingDate')?.touched">
                        <label class="text-danger" *ngIf="getControls('closingDate')?.errors?.['required']"> Closing Date is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="closingPrice" [ngClass]="{error:getControls('closingPrice')?.errors && getControls('closingPrice')?.touched}" placeholder="Enter Closing Price">
                    <div *ngIf="getControls('closingPrice')?.errors && getControls('closingPrice')?.touched">
                        <label class="text-danger" *ngIf="getControls('closingPrice')?.errors?.['required']"> Closing Price is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="closingCateg" [ngClass]="{error:getControls('closingCateg')?.errors && getControls('closingCateg')?.touched}" placeholder="Enter Closing Category">
                    <div *ngIf="getControls('closingCateg')?.errors && getControls('closingCateg')?.touched">
                        <label class="text-danger" *ngIf="getControls('closingCateg')?.errors?.['required']"> Closing Category is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="AdvPay" [ngClass]="{error:getControls('AdvPay')?.errors && getControls('AdvPay')?.touched}" placeholder="Enter Received Payment">
                    <div *ngIf="getControls('AdvPay')?.errors && getControls('AdvPay')?.touched">
                        <label class="text-danger" *ngIf="getControls('AdvPay')?.errors?.['required']"> Received Payment is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="remainingAmount" [ngClass]="{error:getControls('remainingAmount')?.errors && getControls('remainingAmount')?.touched}" placeholder="Remaining Amount">
                    <div *ngIf="getControls('remainingAmount')?.errors && getControls('remainingAmount')?.touched">
                        <label class="text-danger" *ngIf="getControls('remainingAmount')?.errors?.['required']"> Received Payment is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="custCity" [ngClass]="{error:getControls('custCity')?.errors && getControls('custCity')?.touched}" placeholder="Enter Customer City">
                    <div *ngIf="getControls('custCity')?.errors && getControls('custCity')?.touched">
                        <label class="text-danger" *ngIf="getControls('custCity')?.errors?.['required']"> City is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="custState" [ngClass]="{error:getControls('custState')?.errors && getControls('custState')?.touched}" placeholder="Enter Customer State">
                    <div *ngIf="getControls('custState')?.errors && getControls('custState')?.touched">
                        <label class="text-danger" *ngIf="getControls('custState')?.errors?.['required']"> Country is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="projectStatus" [ngClass]="{error:getControls('projectStatus')?.errors && getControls('projectStatus')?.touched}" placeholder="Enter Project Status">
                    <div *ngIf="getControls('projectStatus')?.errors && getControls('projectStatus')?.touched">
                        <label class="text-danger" *ngIf="getControls('projectStatus')?.errors?.['required']"> Project Status is Required </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="salesPerson" [ngClass]="{error:getControls('salesPerson')?.errors && getControls('salesPerson')?.touched}" placeholder="Enter your Username">
                    <div *ngIf="getControls('salesPerson')?.errors && getControls('salesPerson')?.touched">
                        <label class="text-danger" *ngIf="getControls('salesPerson')?.errors?.['required']"> Username is Required </label>
                    </div>
                </div>
                <input type="Submit" [disabled]="customerForm.status === 'INVALID'" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
</div>