/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'poppins';
    src: url('/assets/Poppins-Regular.ttf');
}
  .modal-backdrop {
    --bs-backdrop-zindex: 0 !important;
  }
  .modal{
    --bs-modal-width: 1000px !important;
  }