<div class="new-registration">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h4> Update Employee Payment </h4>
            </div>
            <form [formGroup]="empUpdateForm" (ngSubmit)="empUpdateForm.status !== 'INVALID' && onUpdate()">
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Company Name: </span>
                            <select class="form-select" formControlName="companyName">
                                <option value="null"> Select Company </option>
                                <option *ngFor="let company of companies" value="{{company.companyName}}">{{company.companyName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box"> 
                        <div class="form-group">
                            <span class="details"> Full Name: </span>
                            <select class="form-select" formControlName="signupName" (change)="onChange($event)">
                                <option value="null">Select Employee</option>
                                <option *ngFor="let emp of employee" [value]="emp.signupName">{{emp.signupName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Role: </span>
                            <input type="text" class="from-control" formControlName="signupRole">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Editor'">
                        <div class="form-group">
                            <span class="details"> Video Type: </span>
                            <select class="form-select" formControlName="videoType">
                                <option value="null"> Select Video type</option>
                                <option value="Normal Graphics">Normal Graphics</option>
                                <option value="Motion Graphics">Motion Graphics</option>
                                <option value="Green Screen">Green Screen</option>
                                <option value="Voice Over Edit">Voice Over Edit</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> Upto 30 Sec: </span>
                            <input type="number" class="from-control" formControlName="payment30Sec" placeholder="Enter 30 Seconds Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> Upto 45 Sec: </span>
                            <input type="number" class="from-control" formControlName="payment45Sec" placeholder="Enter 45 Seconds Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> Upto 1 Min: </span>
                            <input type="number" class="from-control" formControlName="payment60Sec" placeholder="Enter 60 Seconds Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> 1 Min to 1:30 Min: </span>
                            <input type="number" class="from-control" formControlName="payment90Sec" placeholder=" Enter 90 Seconds Payment">
                            
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> 1:30 Min to 2:00 Min: </span>
                            <input type="number" class="from-control" formControlName="payment120Sec" placeholder=" Enter 120 Seconds Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> 2:00 Min to 2:30 Min: </span>
                            <input type="number" class="from-control" formControlName="payment150Sec" placeholder=" Enter 150 Seconds Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole !== 'Script Writer'">
                        <div class="form-group">
                            <span class="details"> 2:30 Min to 3:00 Min: </span>
                            <input type="number" class="from-control" formControlName="payment180Sec" placeholder=" Enter 180 Seconds Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Editor'">
                        <div class="form-group">
                            <span class="details"> Two Videos: </span>
                            <input type="number" class="from-control" formControlName="paymentTwoVideo" placeholder=" Enter Two Videos Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Editor'"> 
                        <div class="form-group">
                            <span class="details"> Three Videos: </span>
                            <input type="number" class="from-control" formControlName="paymentThreeVideo" placeholder=" Enter Three Videos Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Script Writer'"> 
                        <div class="form-group">
                            <span class="details"> Upto 150 Words: </span>
                            <input type="number" class="from-control" formControlName="payment150words" placeholder=" Enter 150 Words Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Script Writer'"> 
                        <div class="form-group">
                            <span class="details"> Upto 200 Words: </span>
                            <input type="number" class="from-control" formControlName="payment200words" placeholder=" Enter 200 Words Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Script Writer'"> 
                        <div class="form-group">
                            <span class="details"> Upto 300 Words: </span>
                            <input type="number" class="from-control" formControlName="payment300words" placeholder=" Enter 300 Words Payment">
                        </div>
                    </div>
                    <div class="input-box" *ngIf="selectedEmployee?.signupRole === 'Script Writer'"> 
                        <div class="form-group">
                            <span class="details"> Upto 500 Words: </span>
                            <input type="number" class="from-control" formControlName="payment500words" placeholder=" Enter 500 Words Payment">
                        </div>
                    </div>
                </div>
                <input type="submit" [disabled]="empUpdateForm.status === 'INVALID'" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
    </div>
</div>