<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-12">
        <div class="nameCard">
            <div class="title-heading">
                <h6>Manage Funds</h6>
            </div>
        </div>
    </div>
</div>
<div class="new-customer">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="new-heading">
                <h2>Manage Funds</h2>
            </div>
            <form [formGroup]="fundForm" (ngSubmit)="fundForm.status !== 'INVALID' && addFund()">
                <div [ngClass]="className" role="alert">
                    {{message}}
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Select Account:</span>
                            <select class="form-select" formControlName="fbAccount" aria-label="Default select example">
                                <option value="null">Select Account</option>
                                <option value="Admix Main">Admix Main</option>
                                <option value="Admix Logo">Admix Logo</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details">Enter Amount:</span>
                            <input type="text" class="form-control" formControlName="amount" placeholder="Enter Amount">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="form-group">
                            <span class="details"> Closing Date: </span>
                            <input type="datetime-local" class="form-control" formControlName="fundDate"
                                [ngClass]="{error:getControls('fundDate')?.errors && getControls('fundDate')?.touched}"
                                placeholder="Enter Fund Date">
                            <div *ngIf="getControls('fundDate')?.errors && getControls('fundDate')?.touched">
                                <label class="text-danger" *ngIf="getControls('fundDate')?.errors?.['required']"> Fund Date is Required </label> 
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" [disabled]="fundForm.status === 'INVALID'" class="btn btn-success">
            </form>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>