.nameCard{
    font-style: italic;
    font-family:'Segoe UI';
    font-weight: 700;
    margin-bottom: 25px;
}
.title-heading{
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
    font-family: 'poppins';
    width: fit-content;
    background-color: white;
} 
.table{
    box-shadow: 10px 10px 10px;
    margin-top: 40px;
}
.getButton{
    padding: 10px 15px 15px 15px;
    border-radius: 15px;
}
.update-button{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}
.update-button button{
    padding: 10px;
    border-radius: 15px;
}

.searchData{
    display: flex;
    justify-content: flex-end;
}
.searchData .details{
    margin-right: 15px;
    
}
.searchData .details input{
    margin-left: 10px;
    padding: 5px;
}
.searchData .details label{
    font-weight: 500;
}