 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mona Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.points{
    margin-top: 15px;
}
form{
    background: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px 50px 20px;
    margin-top: 25px;
    margin-bottom: 79px;
    border-radius: 10px;
}
.input-box .form-group input{
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
}
.form-group{
    border: 0;
    padding: .375rem .75rem;
}
.new-heading{
    text-align: center;
    color: #fff;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    padding: 1px;
}
.points form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}
form .user-details .input-box{
    width: 50%;
    margin-bottom: 15px;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    color: #fff;
}
.user-details .input-box input{
    height: 35px;
    width: 100%;
    background: rgba(255,255,255,0);
    color: #fff;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid #D1D1D4;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus{
    border-color: blueviolet;
}
.user-details .input-box select{
    height: 45px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid #D1D1D1;
    transition: all 0.3s ease;
    background: rgba(255,255,255,0);
    color: #fff;
}
.user-details .input-box select option{
    color: black;
}
.user-details .input-box select:focus{
    border-color: blueviolet;
}

.btn-secondary, .btn-success{
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
.getButton{
    width: 60%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 75px;
}
.nameCard{
    display: flex;
    flex-direction: row;
}
.title-heading{
    background: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    padding: 5px 10px 10px 10px;
    width: fit-content;
    color: #fff;
}
.table-scroll{
    margin-top: 20px;
    overflow: scroll;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 25px;
    padding-bottom: 5px;
}
.table{
    text-align: center;
}
th{
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
td{
    background-color: rgba(255,255,255,0);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
    color: #fff;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.btn-secondary{
    margin-bottom: 20px;
}
.btn-danger{
    margin-top: 20px;
}